{% extends 'admin/base.html.twig' %}

{% block title %}Créer un Emprunt{% endblock %}

{% block body %}
    <h1>Créer un Emprunt</h1>
<a href="{{ path("emprunt_index") }}">
        <i class="fa fa-reply"></i>
</a>
<br>
<br>
    {{ include('emprunt/_form.html.twig') }}


{% endblock %}
