{% extends "base.html.twig" %}

{% block h1 %}Erreur 500{% endblock %}

{% block body %}

<p>Pages indisponible.</p>

<a href="{{ path("accueil")}}" class="btn btn-secondary">Retour a l'acceuil</a>
{% endblock %}